body,
html {
    height: 500px;
    width: 400px;
    overflow: hidden;
}

body {
    padding: 20px;
}

.panel-body {
    max-height: 300px;
}

.panel-primary {
    max-height: 600px;
}

#icon, #type {
	float: left;
}

#type{
	margin-left: 10px;
	width: 90%;
}